<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pennapps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.tomato.testsamples.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tomato.testsamples.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.jonathon_vogel.pennapps.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.tomato.testsamples" />
            </intent-filter>
        </receiver>

        <service android:name="com.jonathon_vogel.pennapps.GcmIntentService" />

        <activity
            android:name="com.jonathon_vogel.pennapps.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonathon_vogel.pennapps.CreateGameActivity"
            android:label="@string/title_activity_create_game"
            android:parentActivityName="com.jonathon_vogel.pennapps.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.example.android.beam" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jonathon_vogel.pennapps.MainActivity" />
        </activity>
        <activity
            android:name="com.jonathon_vogel.pennapps.JoinGameActivity"
            android:label="@string/title_activity_join_game" >
        </activity>
        <activity
            android:name="com.jonathon_vogel.pennapps.LobbyActivity"
            android:label="@string/title_activity_lobby" >
        </activity>

        <service
            android:name="com.jonathon_vogel.pennapps.VibrateService"
            android:enabled="true" />

        <activity
            android:name="com.jonathon_vogel.pennapps.CountdownActivity"
            android:label="@string/title_activity_countdown" >
        </activity>
        <activity
            android:name="com.jonathon_vogel.pennapps.InGameActivity"
            android:label="@string/title_activity_in_game" >
        </activity>
        <activity
            android:name="com.jonathon_vogel.pennapps.EndGameActivity"
            android:label="@string/title_activity_end_game" >
        </activity>
    </application>

</manifest>